.primary-purple {
    color:#560BAD;
}
.primary-light-purple {
    color:#7209B7;
}
.primary-pink-purple {
    color:#B5179E;
}

$primary-purple: #560BAD;
$primary-light-purple: #7209B7;
$primary-pink-purple: #B5179E;
$accent-pink: #F72585;
$accent-blue: #4361EE;
$neutral: #E3E8FD;
$secondary-light: #A5E3F7;
$secondary-dark: #3A0CA3;


.accent-pink {
    color:#F72585;
}
.accent-blue {
    color:#4361EE;
}


.neutral {
    color:#E3E8FD;
}

.secondary-light {
    color:#A5E3F7;
}
.secondary-dark {
    color:#3A0CA3;
}

.border-1 {
    border-radius: 10px;
    border:1px solid #1D0259;
    
    }

.border-2 {
border-radius: 10px;
border:1px solid #8D80AB;

}